.tile {
  display: flex;
  flex-direction: column;
  padding: 1%;
  height: 22vh;
  width: 17vw;
  /* background-image: linear-gradient(40deg, #b721ff 10%, #21d4fd 100%); */
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 2%;
}

.tile_link {
  text-decoration: none;
}

.tile:hover {
  transition: 0.5s;
  box-shadow: 5px 5px 5px black;
}
.tile h1 {
  font-size: 2.9vh;
  letter-spacing: 1px;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.tile h3 {
  margin-top: 13%;
  font-size: 2vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
}

.tile_img {
  width: 12%;
  height: 26%;
}
